.minimap {
  aspect-ratio: 1;
  background: var(--background-glass);
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  padding: 12px;
  backdrop-filter: blur(10px);
}

.minimap__grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 0px;
  background: var(--background-paper-dark);
}
